= simple_form_for [:admin, @manager] do |f|
  = f.input :state_event, as: :state_event
  = f.input :full_name, input_html: { class: 'span6' }
  = f.input :photo, as: :image_preview
  = f.input :email, input_html: { class: 'span6' }
  = f.input :phone, input_html: { class: 'span6' }
  = f.input :region, input_html: { class: 'span6' }

  =f.submit