= simple_form_for [:admin, @project] do |f|
  = f.input :title
  = f.input :preview, as: :image_preview

  #items
    = f.simple_fields_for :photos do |photo|
      = render 'photo_fields', f: photo


  = link_to_add_association 'Добавить работу', f, :photos, class: 'btn btn-info',
       data: { association_insertion_node: '#items', association_insertion_method: 'append' }


  =f.submit class: 'btn btn-primary'