.page-header
  %h1=t('.title')
  
= simple_form_for @search, url: admin_projects_path, method: :get do |f|
  %table.table
    %thead
      %tr
        %td
          = f.input_field :title_cont, placeholder: Project.human_attribute_name(:title), label: false, required: false
        %td
          = f.submit t(".search"), class: 'btn btn-primary'

= link_to t('.new'), new_admin_project_path, :class => 'btn btn-primary'
    
= paginate @projects
%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :id, Project.human_attribute_name(:id))
      %th= sort_link(@search, :title, Project.human_attribute_name(:title))
      %th= sort_link(@search, :created_at, Project.human_attribute_name(:created_at))
      %th= t(".actions")
  %tbody
    - @projects.each do |project|
      %tr
        %td= project.id
        %td= project.title
        %td= l project.created_at
        %td
          = link_to t('.edit'), edit_admin_project_path(project), class: 'btn btn-mini'
          = link_to t('.destroy'),  admin_project_path(project), method: :delete, data: { confirm: t('.confirm') }, class: 'btn btn-mini btn-danger'
= paginate @projects

= link_to t('.new'), new_admin_project_path, class: 'btn btn-primary'