.container.companies
  .row
    %h2 Наши партнеры
    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          .span3.first
            = link_to 'http://mdm-group.ru/', class: 'company-link' do
              %i.mdm-group
          .span3
            = link_to 'http://www.cryspi.ru/', class: 'company-link' do
              %i.cryspi
          .span3
            = link_to 'http://www.indexeventus.ru/', class: 'company-link' do
              %i.indexeventus
          .span3
            = link_to 'http://po-vitrina.ru/', class: 'company-link' do
              %i.vitrina
        .item
          .span4.first
            = link_to 'http://ozm.ru/', class: 'company-link' do
              %i.ozm
          .span4
            = link_to 'http://www.ksrus-k.ru/', class: 'company-link' do
              %i.rus
          .span4
            = link_to 'http://www.shols.ru/', class: 'company-link' do
              %i.shols
      %a(data-slide="prev" href="#myCarousel" class="left carousel-control") ‹
      %a(data-slide="next" href="#myCarousel" class="right carousel-control") ›
