.production-title
  Весь спектр торгового оборудования
.container.production
  .row
    .span4
      .row
        .item.span4(data-item="commercical-furniture")
          %pТорговая мебель
        .item.span4(data-item="reshetki")
          %p Экономпанели и решетки
        .item.span4(data-item="telezhki")
          %p Тележки и корзины
        .item.span4(data-item="manekens")
          %p Манекены
    .span4.subitems
      %p.default-text
        Сотрудничаем с клиентами на основании складской программы.
        %br
        Большая часть ассортимента
        находится у нас на складе в Ульяновске.
        %br
        Быстрая консультация +7(8422) 79 45 93
      %ul(data-item-link="commercical-furniture")
        %li= link_to 'Витрины', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=vitriny'
        %li= link_to 'Прилавки', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=prilavki'
        %li= link_to 'Торговые стеллажи', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=torgovye_stellazhi'
        %li= link_to 'Гондолы, столы, островные элементы', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=gondoly_stoly_ostrovnye_elementy'
        %li= link_to 'Оборудование для аптек', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=oborudovanie_dlya_aptek'
        %li= link_to 'Ресепшн (административные стойки)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=resepshn_administrativnye_stojki'
        %li= link_to 'Оборудование для салонов оптики', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=oborudovanie_dlya_salonov_optiki'
        %li= link_to 'Алюминиевый профиль и комплектующие', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovaya_mebel&GID=alyuminievyj_profil_i_komplektuyuschie'
        %li= link_to 'Оформление магазинов', 'http://www.mdm-group.ru/mdm-design/default.asp'
      %ul(data-item-link="reshetki")
        %li= link_to 'Экономпанели и аксессуары', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ekonompaneli_i_reshetki&GID=ekonompaneli_i_aksessuary'
        %li= link_to 'Решетки и аксессуары', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ekonompaneli_i_reshetki&GID=reshetki_i_aksessuary'
      %ul(data-item-link="telezhki")
        %li= link_to 'Тележки покупательские', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=telezhki_i_korziny&GID=telezhki_pokupatelskie'
        %li= link_to 'Грузовые тележки', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=telezhki_i_korziny&GID=gruzovye_telezhki'
        %li= link_to 'Корзины покупательские', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=telezhki_i_korziny&GID=korziny_pokupatelskie'
      %ul(data-item-link="manekens")
        %li= link_to 'Манекены натуралистичные (телесные)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_naturalistichnye_telesnye'
        %li= link_to 'Манекены стилизованные (телесные, с макияжем)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_stilizovannye_telesnye_s_makiyazhem'
        %li= link_to 'Манекены стилизованные (скульптурные белые)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_stilizovannye_skulpturnye_belye'
        %li= link_to 'Манекены абстрактные', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_abstraktnye'
        %li= link_to 'Манекены Headless (без головы)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_headless_bez_golovy'
        %li= link_to 'Манекены пластиковые', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_plastikovye'
        %li= link_to 'Манекены детские', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_detskie'
        %li= link_to 'Демонстрационные формы', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=demonstratsionnye_formy'
        %li= link_to 'Манекены портняжные', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=manekeny_portnyazhnye'
        %li= link_to 'Животные', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=zhivotnye'
        %li= link_to 'Парики для манекенов', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=pariki_dlya_manekenov'
        %li= link_to 'Парики для детских манекенов', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=manekeny&GID=pariki_dlya_detskih_manekenov'

      %ul(data-item-link="commercical-systems")
        %li= link_to 'Трубы хромированые', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=truby_hromirovanye'
        %li= link_to 'Торговые системы на основе труб', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_na_osnove_trub'
        %li= link_to 'Торговые системы из нержавеющей стали', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_iz_nerzhaveyuschej_stali'
        %li= link_to 'Торговые системы на основе перфорированной стойки', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_na_osnove_perforirovannoj_stojki'
        %li= link_to 'Торговые системы в стиле «Минимализм»', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_v_stile_minimalizm'
        %li= link_to 'Торговые системы в стиле «Хайтек»', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_v_stile_hajtek'
        %li= link_to 'Торговые системы из «кованого» железа', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=torgovye_sistemy_iz_kovanogo_zheleza'
        %li= link_to 'Тросовые системы', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=trosovye_sistemy'
        %li= link_to 'Магазин в коробке', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_sistemy&GID=magazin_v_korobke'
      %ul(data-item-link="accessories")
        %li= link_to 'Вешалки, плечики и размерники', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=veshalki_plechiki_i_razmerniki'
        %li= link_to 'Вешала и стойки для одежды', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=veshala_i_stojki_dlya_odezhdy'
        %li= link_to 'Стойки настольные', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=stojki_nastolnye'
        %li= link_to 'Настенные кронштейны', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=nastennye_kronshtejny'
        %li= link_to 'Зеркала', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=zerkala'
        %li= link_to 'Банкетки', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=banketki'
        %li= link_to 'Демонстрационные кубы, цилиндры Rotart', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=demonstratsionnye_kuby_tsilindry_rotart'
        %li= link_to 'Этикет-пистолеты и расходные материалы', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=etiket-pistolety_i_rashodnye_materialy'
        %li= link_to 'Ценникодержатели и изделия из акрила', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=aksessuary_dlya_magazinov&GID=tsennikoderzhateli_i_izdeliya_iz_akrila'
      %ul(data-item-link="security")
        %li= link_to 'Стационарные ограждения (столбики, ворота-флажок)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ograzhdeniya_i_ohrannye_sistemy&GID=statsionarnye_ograzhdeniya_stolbiki_vorota-flazhok'
        %li= link_to 'Ограждения-отбойники от тележек', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ograzhdeniya_i_ohrannye_sistemy&GID=ograzhdeniya-otbojniki_ot_telezhek'
        %li= link_to 'Мобильные ограждения', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ograzhdeniya_i_ohrannye_sistemy&GID=mobilnye_ograzhdeniya'
        %li= link_to 'Зеркала обзорные', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ograzhdeniya_i_ohrannye_sistemy&GID=zerkala_obzornye'
        %li= link_to 'Противокражные системы (антиворы)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=ograzhdeniya_i_ohrannye_sistemy&GID=protivokrazhnye_sistemy_antivory'
      %ul(data-item-link="stellazhi")
        %li= link_to 'Рекламные стойки для печатной продукции', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=reklamnye_stojki_dlya_pechatnoj_produktsii'
        %li= link_to 'Торговые стеллажи «Русь»', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=torgovye_stellazhi_rus'
        %li= link_to 'Торговые стеллажи (Белоруссия)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=torgovye_stellazhi_belorussiya'
        %li= link_to 'Торговые стеллажи «Маркет» (Италия)', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=torgovye_stellazhi_market_italiya'
        %li= link_to 'Стойки-накопители, корзины для распродаж', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=stojki-nakopiteli_korziny_dlya_rasprodazh'
        %li= link_to 'Универсальные стеллажи «Стайл»', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=universalnye_stellazhi_stajl'
        %li= link_to 'Оборудование для колготок', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=oborudovanie_dlya_kolgotok'
        %li= link_to 'Стеллажи складские', 'http://www.mdm-group.ru/SequenceAll.asp?SGID=torgovye_stellazhi_metallicheskie_gorki_nakopiteli_stojki&GID=stellazhi_skladskie'
    .span4
      .row
        .item.span4(data-item="commercical-systems")
          %p Торговые системы
        .item.span4(data-item="accessories")
          %p Аксессуары для магазинов
        .item.span4(data-item="security")
          %p Ограждения и охранные системы
        .item.span4(data-item="stellazhi")
          %p Торговые стеллажи, металлические горки и стойки
